body {
    height: 100%;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

* {
    user-select: none;
}

.background {
    width: 100%;
    height: auto;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: blue;
    color: #fff;
    font-family: Arial, Sans-serif;
    font-size: 1.125em;
    padding: 3px 0;
    letter-spacing: 3px;
}

.eu {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
}

.show {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 350px;
    animation: chow infinite 1s;
}

@keyframes chow {
    0% {transform: rotate(10deg)}
    5% {transform: rotate(-10deg)}
    10% {transform: rotate(10deg)}
    15% {transform: rotate(-10deg)}
    20% {transform: rotate(10deg)}
    25% {transform: rotate(-10deg)}
    30% {transform: rotate(10deg)}
    35% {transform: rotate(-10deg)}
    40% {transform: rotate(10deg)}
    45% {transform: rotate(-10deg)}
    50% {transform: rotate(10deg)}
    55% {transform: rotate(-10deg)}
    60% {transform: rotate(10deg)}
    65% {transform: rotate(-10deg)}
    70% {transform: rotate(10deg)}
    75% {transform: rotate(-10deg)}
    80% {transform: rotate(10deg)}
    85% {transform: rotate(-10deg)}
    90% {transform: rotate(10deg)}
    95% {transform: rotate(-10deg)}
    100% {transform: rotate(10deg)}
}

@media (max-width: 769px) {
    .background {
        width: 500%;
        position: absolute;
        height: auto;
        bottom: 0;
        overflow: hidden;
    }
}
